/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.containerBox
{
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin-top: 3vh;
}

.contPadding { padding: 2em 5em; }

.sortable {
    padding: 0em;
}

.priorityPad { height: 2.5em; }

.priorityBorder {
    border: 1px solid;
    line-height: 2.5em;
    padding-left: 1em;
    margin: 0em 3em;
}

.displayFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
        
/*Montserrat Font styling and some other minor adjustments*/
.topBackground {
    background-color: #030416;
}

.body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
}

.body h1, h2, h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
}

.body h1 { font-size: 48px; } .body h2 { font-size: 32px; } .body h3 { font-size: 26px; }

.blackBack {
    color: white;
}

.body .subheading {
    margin-bottom: 2%;
    opacity: 0.6;
}

.navHoverable:hover {
    color: #6a6c7c
}

.navHoverable {
    color: white;
}


/*Home page styling of content like margins/padding*/
.home_title {
    margin-top: 18%;
    margin-left: 8%;
}
.home_description {
    margin-bottom: 25%;
}
.home_phrase {
    margin-bottom: 8%;
}
.home_accordion {
    margin-left: 5%;
    margin-bottom: 8%;
}
.home_need {
    margin: 5%;
}
.home_example {
    margin: 8% 8% 15% 8%;
}